body {
  font-family: 'Cousine', monospace;
  color: white;
  background-color:black;
}

.jumbotron {
  background:transparent !important;
}

form {
  display:inline; 
}

.nav {
  background:transparent;
}

li {
  list-style-type:none;
}

hr {
  background-color:white;
  opacity: 20%;
}

.port-list {
  font-size:30px;
}

.names {
  font-size:50px;
  color: yellow;
}

.port-list a {
  color:yellow;
}

.port-list a:visited {
  color:yellow;
}

.port-list a:hover {
  color:lightblue;
  text-decoration:none;
}

.create-tags {
  margin-top:20px;
}
