@{
  Layout = "_Layout";
}

@using Yelp.Models;
@model List<Yelp.Models.Port>;

<h1>Ports</h1>

@if (@Model.Count == 0)
{
  <h3>No categories have been added yet!</h3>
} 

@foreach (Port port in Model)
{
  <li>@Html.ActionLink($"{port.Name}", "Details", new { id = port.PortId })</li>
}
<br>

<Button>@Html.ActionLink("Add new port", "Create")</Button>

