@{
  Layout = "_Layout";
}

@using SpacePort.Models;
@model List<SpacePort.Models.Port>;

<h2>Docking Ports</h2>
<hr>

@if (@Model.Count == 0)
{
  <p>no ports have been added to this array.</p>
} 

@foreach (Port port in Model)
{
  <li class="port-list">@Html.ActionLink($"{port.Name}", "Details", new { id = port.PortId })</li>
}

<hr>

<a class="btn btn-outline-light btn-block" href="/Ports/Create">Add new port</a>

