@{
  Layout = "_Layout";
}

@using SpacePort.Models;
@model List<SpacePort.Models.Vessel>;

<h1>Vessels</h1>
<hr>

@if (@Model.Count == 0)
{
  <p>no vessels currently docked.</p>
} 

@foreach (Vessel vessel in Model)
{
  <li class="port-list">@Html.ActionLink($"{vessel.Description}", "Details", new { id = vessel.VesselId }) <span style="float:right">@vessel.Port.Name</span></li>
}
<hr>
<a class="btn btn-outline-light btn-sm btn-block" href="/Vessels/Create">Add new vessel</a>
<br>
@using (Html.BeginForm())
{
  @Html.TextBox("Search")
  <input type="submit" value="search vessels by name" class="btn btn-outline-light btn-sm"/>
}