@{
  Layout = "_Layout";
}
<h1 class="jumbotron">Welcome<br><span style="font-size:small">thank you.</span></h1>
<button class="btn btn-outline-dark">@Html.ActionLink("See All Ports", "Index", "Ports")</button>
<button class="btn btn-outline-dark">@Html.ActionLink("See All Vessels", "Index", "Vessels")</button>
<button class="btn btn-outline-dark">@Html.ActionLink("See All Manifests", "Index", "Manifests")</button>
