@{
  Layout = "_Layout";
}

@using SpacePort.Models;
@model List<SpacePort.Models.Manifest>;

<h1>Manifests <span style="float:right; font-size:15px; margin-top:25px;">VESSEL CARRIER || CONTACT</span></h1>
<hr>

@if (@Model.Count == 0)
{
  <h3>No  have been added yet!</h3>
} 

@foreach (Manifest manifest in Model)
{
  <li class="manifest-list">@Html.ActionLink($"{manifest.Description}", "Details", new { id = manifest.ManifestId, }) <span style="float:right">@manifest.UserName || <span style="color:orange">@manifest.Vessel.Description</span></span></li>
}
<hr>

<a class="btn btn-outline-light btn-block btn-sm" href="/Manifests/Create">Add new manifest</a>